:root {
  --grey: #f0eef1;
  --white: #fffbfb;
  --blueish-grey: #adadc9;
  --container-width: 1200px;
  --mint-green: #98FB98;
  --light-red: #FF5A5F;
}

@font-face {
  font-family: "noto-sans";
  src: url(/src/assets/fonts/noto-sans.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "noto-sans";
  font-size: 1.4rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  position: relative;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  gap: 1rem;
  margin-bottom: 1rem;
}